{% extends 'base.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Assign Department</title>
    </head>
    <body>
        <br>
        <form id = "searchDepartment" method = "POST" action = {% url 'departmentPage' %}>
            {% csrf_token %}
            <fieldset id = "searchBarDep">
                <legend>Search with ID</legend>
                <input type = "search" name = "stuID" id = "searchByID" placeholder="eg. 20210011" required>
                <input type = "submit" id = "submitReset" value="Submit"></input>
                <input type = "reset" id = "submitReset" onclick = "resetDepartmentForm(event);"></input>
            </fieldset>
        </form>
        <br>
        {% if student %}
        <form id="departmentForm" style="display: block;" action = 'departmentChange/{{student.ID}}' method = "POST">
        {% else %}
        <form id="departmentForm" style="display: none;">
        {% endif %}
            {% csrf_token %}
            <fieldset id = "searchBarDep">
                <legend> Assign Department</legend>
                <br>
                <table id = "departmentTable">
                    <th>Name</th>
                    <th>ID</th>
                    <th>Level</th>
                    <th>Department</th>
                    <tbody id = "dptBody">
                        <td>{{ student.Name }}</td>
                        <td>{{ student.ID }}</td>
                        <td>{{ student.Level }}</td>
                        <td>
                            <select name="department" default = {{ student.Department }} {% if student.Level < '3' %} disabled {% endif %}>
                                <option value="General" {% if student.Department == 'General' %}selected{% endif %}>General</option>
                                <option value="CS" {% if student.Department == 'CS' %}selected{% endif %}>CS</option>
                                <option value="IS" {% if student.Department == 'IS' %}selected{% endif %}>IS</option>
                                <option value="AI" {% if student.Department == 'AI' %}selected{% endif %}>AI</option>
                                <option value="IT" {% if student.Department == 'IT' %}selected{% endif %}>IT</option>
                                <option value="DS" {% if student.Department == 'DS' %}selected{% endif %}>DS</option>
                            </select>
                        </td>
                    </tbody>
                </table>
                <div id = "submitButton">
                    <button type = "submit" id = "submitDepChange"  onclick = "departmentChange(event)"> Submit Changes</button>
                </div>
            </fieldset>
        </form>
    </body>
</html>
{% endblock content %}