{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" href= "{% static 'css/MPstylesheet.css' %}">
</head>
<body id = "gradientColor">
    <div id = "welcomeText">
        <h1>
            Welcome to our website
        </h1>
    </div>
    <div id = "container">
        <div id = "imageBox">
            <a href = "{% url 'loginPage' %}" id = "photoHover">
                <img src = "{% static 'images/studentAffairs.png' %}" id = "image">
                <p>Student Affairs</p>
            </a>
        </div>
        <div id = "imageBox">
            <a href = "#" id = "photoHover">
                <img src = "{%static 'images/higherStudies.jpg' %}" id = "image">
                <p>Higher Studies</p>
            </a>
        </div>
        <div id = "imageBox">
            <a href = "#" id = "photoHover">
                <img src="{%static 'images/humanResources.png' %}" id = "image">
                <p>Human Resources</p>
            </a>
        </div>
        <div id = "imageBox">
            <a href = "#" id = "photoHover">
                <img src= "{%static 'images/laboratoryTracking.png' %}" id = "image">
                <p>Laboratory Tracking</p>
            </a>
        </div>
    </div>
</body>
</html>
{% endblock content %}