<!DOCTYPE html>
{% load static %}
{% include 'pageParts/navbar.html' %}
{% block content %}
<html lang="en">
    <head>
        <title>Students Data</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <br><br>
        <div id="searchbar">
            {% csrf_token %}
            <input type="text" id="searchB" name="search_field" placeholder="Search With Name...">
            <button type="submit" id="SDatasubmit" >Search</button>
            <button type="reset" id="SDatareset" >Reset</button>
        </div>
        <br>
        <fieldset class="Studentdata-field">
            <legend>Students Data</legend>
            <table >
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>ID</th>
                        <th>Level</th>
                        <th>Department</th>
                        <th>GPA</th>
                        <th>Status</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Date</th>
                        <th>Gender</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="SDatadata">
                    {% for item in data %}
                    <tr>
                        <td>{{item.Name}}</td>
                        <td>{{item.ID}}</td>
                        <td>{{item.Level}}</td>
                        <td>{{item.Department}}</td>
                        <td>{{item.GPA}}</td>
                        <td>{{item.Status}}</td>
                        <td>{{item.Email}}</td>
                        <td>{{item.Phone}}</td>
                        <td>{{item.BirthDate}}</td>
                        <td>{{item.Gender}}</td>
                        <td>
                        <a href = "Edit/{{item.ID}}">
                            <img src ="{% static 'images/edit.jpg' %}">
                        </a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </fieldset>
        <script src="{% static 'js/script.js' %}"></script>
    </body>
</html>
{% endblock content %}