<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Add New Student</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <fieldset id = "addStudentField">
            <legend id ="addStdLegend">
                Add new student
            </legend>
            <form id="formContainer" action="{% url 'add_student' %}" method="post">
                {% csrf_token %}
                <div id = "inputGroup">
                    <div id = "nameDiv">
                        <label for="name-field">Name</label>
                        <input type="text" id="name-field" name = "name-field" required placeholder="Enter student name">
                    </div>
                    <div id = "idDiv">
                        <label for="id-field">ID</label>
                        <input type="text" id="id-field" name = "id" required placeholder="Enter student ID">
                    </div>
                </div>
                <div id = "inputGroup">
                    <div id = "emailDiv">
                        <label for="email-field">Email</label>
                        <input type="email" id="email-field" name = "email" required placeholder="Enter student email">
                    </div>
                    <div id = "phoneDiv">
                        <label for="phone-field">Phone Number</label>
                        <input type="text" id="phone-field" name = "phone" required placeholder="Enter student phone">
                    </div>
                </div>
                </div>
                <div id = "subButtonAdd">
                    <input type="submit" id = "submitStudent" value="Add Student">
                </div>
                </form>         
        </fieldset>
    </body>
</html>